# This starter workflow is for a CMake project running on multiple platforms. There is a different starter workflow if you just want a single platform.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-single-platform.yml
name: JAGE Build and Test

on:
  workflow_run:
    workflows:
      - Build CI Image
    types:
      - completed

jobs:
  build-and-test:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/justinlye/jage-ci:${{ github.event.workflow_run.head.sha }}
      options: --user root
    strategy:
      fail-fast: true
      matrix:
        cpp_compiler: [g++, clang++]
        include:
          - cpp_compiler: g++
            c_compiler: gcc
            compiler_version: 14
          - cpp_compiler: clang++
            c_compiler: clang
            compiler_version: 18
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: '3.13'
        cache: 'pip'
    - name: cache conan
      uses: actions/cache@v4
      if: ${{ !env.ACT }}
      with:
        path: |
          ~/.conan2
          ~/.cache/pip
        key: ${{ runner.os }}-conan-${{ matrix.c_compiler }}-${{ matrix.compiler_version }}-${{ hashFiles('conanfile.py', 'profiles/**') }}
        restore-keys: |
          ${{ runner.os }}-conan-${{ matrix.c_compiler }}-${{ matrix.compiler_version }}-
          ${{ runner.os }}-conan-
    - name: configure conan
      run: |
        conan install . -pr:a profiles/linux -pr:a profiles/${{ matrix.c_compiler }} -pr:a profiles/release -pr:a profiles/asan -pr:a profiles/ubsan --build=missing
    - name: configure cmake
      run: |
        cmake --preset conan-build-linux-${{ matrix.c_compiler }}-release-asan-ubsan
    - name: all
      run: cmake --build build --target all
